/* DEBUG */

.debug {
  background-color: rgba(20, 29, 29, .2);
  border: 1px solid black;
}

/* head */
header {
  height: 80px;
}
header nav {
  height: 100%;
}
header nav .row {
  height: 100%;
}

/* head */


.h200 {
  height: 200px;
}
.h300 {
  min-height: 300px;
}

.jumbotron{
  background-color: rgb(26, 188, 156);
  text-align: center;
}

.text-center {
  text-align: center;
}
/*
  GENERAL
*/
.da-container{
  width: 60%;
  margin: 0 auto;
}


/*
  JUMBOTRON
*/
.jumbotron{
  height: 500px;
}


.da-card {
  height: 250px; 
}



